# Mapbox Access Token
# Get your token from: https://account.mapbox.com/access-tokens/
VITE_MAPBOX_TOKEN=your_mapbox_access_token_here

# Access Password for the application
# Users must enter this password to view the system
# Default: logistics2024
VITE_ACCESS_PASSWORD=logistics2024
